p= "You are receiving this email becuase the email address #{@subscription.email} signed up to receive system status updates from Think Through Math."

p
  =' link_to "Click Here", confirm_email_subscription_url(@subscription, token: @subscription.token)
  = "to confirm your subscription."